
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>


<form method="post">
    <input type="hidden" name="CategoryId" id="CategoryId" value="@Model.CategoryId" />
   
    <input type="submit" value="Delete" />
</form>
